@model IEnumerable<B2B.Model.UserModel>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/Custom/UserController.js"></script>
<h2>Index</h2>
<div class="row">
    <div ng-controller="userController" ng-init="loadData()">
        @*<button id="btnLoadData" type="button" class="btn btn-primary btn-group-sm" ng-click="loadData()" ng-init="loadData()">Load Data</button>*@
        <div class="gridStyle" external-scopes="$scope" ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid="gridOptions">
        </div>
        <br />
        <br />
        <div>
            <button id="btnSave" type="button" class="btn btn-primary" ng-click="SaveData()">Save</button>
        </div>
    </div>
</div>
