@{
    ViewBag.Title = "";
}
<script src="~/Scripts/Custom/DonhangController.js"></script>
<div class="container-fluid" ng-controller="donhangController">
    @*<div class="row">
            <div ng-controller="donhangController">
                <button id="btnLoadData" type="button" class="btn btn-primary btn-group-sm" ng-click="LoadDonhang()" ng-init="LoadDonhang()">Load Data</button>
                <div external-scopes="$scope" ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid="gridOptions">
                </div>
                <br />
                <br /><br />


                {{Giatri |  date:'yyyy-MM-dd HH:mm:ss Z'}}
            </div>
        </div>*@

    <div class="col-md-5">
        <h2 style="margin-left:15px">Đơn hàng</h2>
        <div class="form-group">

            <div class="col-md-12" style="margin-top:15px">
                <div external-scopes="$scope" ui-grid-pagination ui-grid-resize-columns ui-grid="gridDonhang">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7" style="margin-top:70px">
        <div class="col-md-12" style="margin-top:10px">
            <div external-scopes="$scope" ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid="gridChitietDonhang">
            </div>
        </div>
    </div>

</div>
