<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <!--<add name="B2BSystemEntities" connectionString="metadata=res://*/B2BSystem.csdl|res://*/B2BSystem.ssdl|res://*/B2BSystem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QLBH_08_2014;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="B2BSystemEntities" connectionString="metadata=res://*/B2BSystem.csdl|res://*/B2BSystem.ssdl|res://*/B2BSystem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QLBH_08_2014;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>