

<script src="~/Scripts/Custom/QuoteController.js"></script>
<script type="text/ng-template" id="CustomTemplateWithIcon">
    <div class="tag-template">
        <div>
            <span><i class="fa fa-tags"></i> {{$getDisplayText()}}<a class="fa fa-times" ng-click="$removeTag()"></a></span>
        </div>
    </div>
</script>
<div class="col-lg-offset-2">
    <div class="row">
        <button id="alertButton" type="button" class="btn btn-primary btn-group-sm">Message</button>
        <div id="alertDiv" role="alert" />
    </div>
    <div class="row col-xs-12">
        <div ng-controller="quoteController">
            <button id="btnLoadData" type="button" class="btn btn-primary btn-group-sm" ng-click="loadData()" ng-init="loadData()">Load Data</button>
            <div external-scopes="$scope" ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid="gridOptions">
            </div>
            <br />
            <br /><br />

            <tags-input ng-model="tags" min-length="4" replace-spaces-with-dashes="false" placeholder="Enter some things" template="CustomTemplateWithIcon">
                @* <auto-complete source=""></auto-complete>*@
                @*loadTags($query)*@

            </tags-input>
            {{Giatri |  date:'yyyy-MM-dd HH:mm:ss Z'}}
            <button type="button" class="btn btn-primary" ng-click="Edit()">Edit</button>
            <button type="button" class="btn btn-danger" ng-click="Reset()">Clear</button>

            @*<ui-select multiple ng-model="colors" theme="bootstrap">
                    <ui-select-match placeholder="Select colors..."><i class="fa fa-tags">{{$item}}</i></ui-select-match>
                    <ui-select-choices repeat="color in availableColors | filter: $select.search">
                        {{color}}
                    </ui-select-choices>
                </ui-select>*@
            @* filter: $select.search >> to filter when type input *@


            <tags-input ng-model="colors" min-length="4" replace-spaces-with-dashes="false" placeholder="Enter some things" template="CustomTemplateWithIcon">

                {{AppPath}}
                <p>Selected: {{colors}}</p>

                <button type="button" class="btn btn-primary" ng-click="ShowGridModal()">Show</button>

                <img ng-src="{{img}}" class="img-thumbnail" width="200" height="300" ng-mouseover="" id="imgAvatar">
                <div style="margin-top:15px" id="divImage">
                    <input type='file' ngf-select ngf-change="readURL($files,$event)" ng-model="myFile" accept="image/x-png, image/gif, image/jpeg" />
                </div>
                <button type="button" class="btn btn-primary" ng-click="upload(myFile)">Up</button>

                <button ng-click="learnEvent($event)" class="btn btn-primary" id="abc">Test</button>
        </div>
    </div>

    <br />

    <br />

    <br />



</div>