@{
    ViewBag.Title = "Chonhinhthucmuahang";
}
<div class="col-md-offset-1 col-md-10" ng-controller="muaHangController" ng-init="">
    <form name="chonhinhthucmuahang">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Chọn hình thức mua hàng</div>
            </div>
            <div class="panel-body">
                <div class="radio">
                    <label><input type="radio" ng-click="SetHinhthucthanhtoan(1)">Thanh toán tiền mặt khi nhận hàng</label>
                </div>
                <div>test</div>
                <div class="radio">
                    <label><input type="radio" ng-click="SetHinhthucthanhtoan(2)">Thanh toán qua ngân hàng</label>
                </div>
            </div>
        </div>
    </form>


</div>
    
