@{
    ViewBag.Title = "DatHang";
}


<script src="~/Scripts/Custom/MuaHangController.js"></script>
<div class="container-fluid" ng-controller="muaHangController" ng-init="LoadNhomHanghoa();LoadHanghoaTheoNhomHanghoa();LayDonhangTam()">
    <div class="col-md-5">
        <div class="form-group">
            <div class="col-md-12">
                <select class="form-control" ng-model="nhomHanghoaId" ng-options="obj.NhomHanghoaId as obj.TenNhomHanghoa for obj in nhomhanghoas" ng-change="LoadHanghoaTheoNhomHanghoa()">
                    <option value="">--Tất cả--</option>
                </select>
            </div>

            <div class="col-md-12" style="margin-top:20px">
                <div external-scopes="$scope"  class="gridMuaHangStyle" ui-grid-pagination ui-grid-resize-columns ui-grid="gridOptions">
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-7" >
       
       <br />
        <br />
        <form name="chitietDonhang" style="padding-top:14px;">
            <div class="col-md-12">
                <div external-scopes="$scope" class="gridHangDachon" ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid="gridOptions1">
                </div>
            </div>
        </form>

        @*<div class="col-md-offset-5 col-md-7">*@
        <form name="donhang">
            <div class="col-md-6" style=" margin-top:80px">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Thông tin đơn hàng</div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 control-label">Tiền giảm:</div>
                            <div class="col-md-6">
                                <span>
                                    {{donhang.Tiengiam | number}}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 control-label">Phần trăm giảm:</div>
                            <div class="col-md-6">
                                <span>
                                    {{donhang.PhantramGiam}}%
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <font size="4">
                                <div class="col-md-6 control-label">Tổng tiền:</div>
                                <div class="col-md-6">
                                    <span>
                                        <b>{{donhang.Tongtien | number}}</b>
                                    </span>
                                </div>
                            </font>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" style=" margin-top:80px">
                <div class="form-group">
                    <textarea class="form-control" rows="6" style="resize:none" placeholder="Ghi chú" ng-model="donhang.Ghichu"></textarea>
                </div>
            </div>
        </form>
        @*</div>*@

        @*<div class="col-md-offset-5 col-md-7">*@
        <div class="col-md-12 form-group" style=" margin-top:10px">
            <input type="button" ng-disabled="" class="btn btn-primary" value="Đặt hàng" ng-click="Dathang()">
            &nbsp;
            <input type="button" ng-disabled="" class="btn btn-danger" value="Hủy" ng-click="Reset()">
            &nbsp;
        </div>
        @*</div>*@
    </div>


    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header bg-primary">
            <h3 class="modal-title">{{hanghoa.TenHanghoa}}</h3>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="col-md-4">
                    <img ng-src={{hanghoa.LinkHinhanh_Web}} class="img-thumbnail" width="200" height="300">
                </div>
                <div class="col-md-8">
                    <div><font size="6" style="color:#ff6a00" ><b>{{hanghoa.Giagoc | number}}</b></font><sup><font size="3" style="color:#ff6a00"><b> vnd</b></font></sup></div>
                    <div ng-show="thuoctinhhanghoas.length != 0">
                        @*<div>Đặc điểm:</div>*@
                        <ul style="margin-left:-35px; list-style-type:none">
                            <li ng-repeat="tt in thuoctinhhanghoas">
                                {{tt.TenThuoctinh}}
                            </li>
                        </ul>
                    </div>
                    <div ng-show="hanghoa.Ghichu!=null">{{hanghoa.Ghichu}}</div>
                </div>
            </div>
            
            
        </div>
    </script>

</div>

