@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<script src="~/Scripts/Custom/DSHanghoaController.js"></script>
<div ng-app="myApp" class="row">
    <div ng-controller="dsHanghoaController" >
        <div>
            Choose a new activity:
            <select ng-model="currentSelect"
                    ng-options="obj.NhomHanghoaId as obj.TenNhomHanghoa for obj in dataSelect"
                    ng-init="LoadDataSelect()"
                    ng-change="loadData()"></select>
        </div>
        @* _____________ *@
            <button id="btnLoadData" type="button" class="btn btn-primary btn-group-sm" ng-click="loadData()" ng-init="loadData()">Load Data</button>
            <div 
                 class="gridStyle" external-scopes="$scope" ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid="gridOptions">
            </div>            
    </div>
</div>
