@{
    ViewBag.Title = "Dangky";
}
<script src="~/Scripts/Custom/TaikhoanController.js"></script>
<div style="margin-top:50px" class="mainbox col-md-8 col-md-offset-2" ng-controller="taikhoanController" ng-init="Dangky()">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Đăng ký</div>
            @*<div style="float:right; font-size: 85%; position: relative; top:-10px; color:#000000"><a href="/Taikhoan/Dangnhap">Đăng nhập</a></div>*@
        </div>
        <div class="panel-body">
            <div id="signupform" class="form-horizontal">
                <div class="form-group">
                    <label for="hoten" class="col-md-3 control-label">Họ tên</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="hoten" placeholder="Họ tên" ng-model="khachhang.HotenKhachhang">
                    </div>
                    <div class="row help-block">
                        <div class="col-md-offset-3 col-md-9" ng-show="Loi.tenLoi == 'Null' && khachhang.HotenKhachhang == ''">
                            <span class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> {{" " + Loi.hienthi + " họ tên"}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="col-md-3 control-label">Tên đăng nhập</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="username" placeholder="Tên đăng nhập" ng-model="account.AccountName" ng-change="KiemtraTrungAccountName()">
                    </div>
                    <div class="row help-block">
                        <div class="col-md-offset-3 col-md-9" ng-show="Loi.tenLoi == 'Null' && account.AccountName == ''">
                            <span class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> {{" " + Loi.hienthi + " tên đăng nhập"}}
                        </div>
                        <div class="col-md-offset-3 col-md-9" ng-show="Loi.tenLoi == 'TrungAccountName'" ng-hide="Loi.tenLoi !== TrungAccountName">
                            <span class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> {{" " + Loi.hienthi}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" name="password" placeholder="Password" ng-model="account.AccountPassword">
                    </div>
                    <div class="row help-block">
                        <div class="col-md-offset-3 col-md-9" ng-show="Loi.tenLoi == 'Null' && account.AccountPassword == ''">
                            <span class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> {{" " + Loi.hienthi + " password"}}
                        </div>
                        <div class="col-md-offset-3 col-md-9" ng-show="(account.AccountPassword + '').length < 8 && account.AccountPassword != ''">
                            <span class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Password phải có ít nhất 8 ký tự
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nhaplaipassword" class="col-md-3 control-label">Nhập lại Password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" name="nhaplaipassword" placeholder="Nhập lại Password" ng-model="passnhaplai">
                    </div>
                    <div class="row help-block">
                        <div class="col-md-offset-3 col-md-9" ng-show="account.AccountPassword != passnhaplai && (passnhaplai !== '' || account.AccountPassword != '')">
                            <span class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Password chưa khớp
                        </div>
                    </div>
                </div>

                <div style="border-top: 1px solid #999; padding-top: 20px;margin-left:30px; margin-right: 30px" class="form-group">
                    <input type="button" ng-disabled="account.AccountPassword != passnhaplai || (account.AccountPassword + '').length < 8 || Loi.tenLoi == 'TrungAccountName'" class="btn btn-primary btn-block" value="Đăng ký" ng-click="XulyDangky()">
                </div>
            </div>
        </div>
    </div>
</div>