@{
    ViewBag.Title = "SuaTaikhoan1";
}
<h2>Thay đổi thông tin tài khoản</h2>
<div class="container-fluid">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li><a href="/Taikhoan/Suataikhoan">Thông tin đăng nhập</a></li>
        <li class="active"><a href="/Taikhoan/Suataikhoan1">Thông tin cơ bản</a></li>
        <li><a href="/Taikhoan/Suataikhoan2">Thông tin công ty</a></li>
    </ul>
    <div class="container-fluid" style="background-color:white">
        <div  ng-controller="taikhoanController" ng-init="">
            <form id="thongtincoban" class="form-horizontal" role="form">

                <div id="saithongtincoban" ng-show="isShowWhenError" class="alert alert-danger">
                    <p>
                        Lỗi: <span></span>
                    </p>
                </div>

                <div class="col-md-6" >
                    <div>
                        <label for="hoten">Họ tên</label>
                        <input type="text" class="form-control" name="hoten" placeholder="Họ tên khách hàng" ng-model="account.hoten">
                    </div>

                    <div >
                        <label for="chungminhnhandan">Số chứng minh nhân dân</label>
                        <input type="text" class="form-control" name="chungminhnhandan" placeholder="Số chứng minh nhân dân" ng-model="account.cmnd">
                    </div>

                    <div >
                        <label for="diachi">Địa chỉ</label>
                        <input type="text" class="form-control" name="diachi" placeholder="Địa chỉ" ng-model="account.diachi">
                    </div>


                    <div >
                        <label for="tinhthanh">Tỉnh thành</label>
                        <select class="form-control" name="tinhthanh" ng-model="account.tinhthanh"></select>
                    </div>

                    <div >
                        <label for="mobile">Mobile</label>
                        <input type="number" class="form-control" name="mobile" placeholder="Mobile" ng-model="account.mobile">
                    </div>

                    <div>
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Email" ng-model="account.email">
                    </div>


                </div>

                <div class="col-md-6" >

                    <div class="">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="ngaysinh">Ngày sinh</label>
                                <input type="date" class="form-control" name="ngaysinh" placeholder="Ngày sinh" ng-model="account.ngaysinh">
                            </div>
                            <div class="">
                                <label>Giới tính</label>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <input type="radio" name="gioitinh" checked ng-model="account.gioitinh" class="col-sm-3">1
                                    </div>
                                    <div class="col-sm-3 ">
                                        <input type="radio" name="gioitinh" ng-model="account.gioitinh" class="col-sm-3">2
                                    </div>
                                </div>
                            </div>
                        </div>

                     </div>


                    <div >
                        <label for="diachigiao">Địa chỉ giao hàng</label>
                        <input type="text" class="form-control" name="diachigiaohang" placeholder="Địa chỉ giao hàng" ng-model="account.dichigiaohang">
                    </div>


                    <div class="">
                        <label for="quanhuyen">Quận huyện</label>
                        <select class="form-control" name="quanhuyen" ng-model="account.quanhuyen"></select>
                    </div>

                    <div >
                        <label for="tel">Tel</label>
                        <input type="number" class="form-control" name="tel" placeholder="Tel" ng-model="account.tel">
                    </div>


                    <div>
                        <label for="tax">Tax</label>
                        <input type="text" class="form-control" name="tax" placeholder="Tax" ng-model="account.tax">
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
