@{
    ViewBag.Title = "Suataikhoan2";
}

<h2>Thay đổi thông tin tài khoản</h2>
<div class="container-fluid">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li><a href="/Taikhoan/Suataikhoan">Thông tin đăng nhập</a></li>
        <li><a href="/Taikhoan/Suataikhoan1">Thông tin cơ bản</a></li>
        <li class="active"><a href="/Taikhoan/Suataikhoan2">Thông tin công ty</a></li>
    </ul>

</div>
