@{
    ViewBag.Title = "MenuDropdown";
}
<script src="~/Scripts/Custom/HomeControler.js"></script>
<h2>MenuDropdown</h2>
<div ng-controller="homeController" ng-init="eventWhenChange()">
    <div class="col-sm-12 col-md-4">
        <select class="form-control" ng-model="selectedObject" ng-options="obj.TenNhomHanghoa as obj.TenNhomHanghoa for obj in dropdownMenu">
            @* <option ng-repeat="item in items" value="{{item}}">{{item}}</option>*@
            <option value="">Select an item</option>
        </select>
    </div>
</div>
<div class="row">
    <div ng-controller="homeController">
        <button id="btnloaddata" type="button" class="btn btn-primary btn-group-sm" ng-click="loadData()" ng-init="loadData()">
            Load Data
        </button>
        <div class=" gridstyle" ui-grid="gridOptions">
        </div>
    </div>
</div>
