@{
    ViewBag.Title = "QuanlyHanghoa";
}
<script src="~/Scripts/Custom/QuanlyHanghoaController.js"></script>
<h2>Quản lý hàng hóa</h2>
@*<div class="col-md-4">*@
    <div ng-controller="quanlyHanghoaController">
        <div class="grid" external-scopes="$scope" ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid="gridOptions" ng-init="LoadHanghoaTheoNhomHanghoa()">
        </div>
    </div>
@*</div>
<div class="col-md-8">
    test
</div>*@
