@{
    ViewBag.Title = "QuanlyHanghoa";
}
<script src="~/Scripts/Custom/QuanlyHanghoaController.js"></script>
<div class="container-fluid" ng-controller="quanlyHanghoaController" ng-init="LoadNhomHanghoa();LoadDonvi();LoadHanghoaTheoNhomHanghoa()">
    @*<div class="col-md-12">
            <h2 style="margin-left:15px">Quản lý hàng hóa</h2>
        </div>*@
    <br />
    <div class="col-md-7">
        <div class="col-md-12">
            <div class="form-group">

                <select class="form-control" ng-model="nhomHanghoaId" ng-options="obj.NhomHanghoaId as obj.TenNhomHanghoa for obj in nhomhanghoas" ng-change="LoadHanghoaTheoNhomHanghoa()">
                    <option value="">--Nhóm hàng hóa--</option>
                </select>

                @*<div class="col-md-2">
                        <button type="button" class="btn btn-primary" ng-click=""><i class="glyphicon glyphicon-plus"></i></button>
                    </div>*@
            </div>
            <div external-scopes="$scope" class="gridNhomHanghoa" ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid="gridOptions">
            </div>
        </div>
    </div>
    <div class="col-md-5" style="padding-top:7px;">
        <div class="col-lg-4" >
            @*<input type='file' id="imgInp" />*@
        @*    <img id="blah" src="#" alt="your image" class="img-responsive" />*@
        </div>

        <br />
        <br />

        <div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Thông tin hàng hóa</div>
                </div>
                <div class="panel-body">
                    <div class="col-md-12" style="margin-bottom:5px">
                        <div class="form-group">
                            <img ng-src="{{img}}" class="img-thumbnail" width="200" height="300" ng-mouseover="" id="imgAvatar">
                            <div style="margin-top:15px" id="divImage">
                                <input type='file' ngf-select ng-model="myFile"  accept="image/x-png, image/gif, image/jpeg" />
                            </div>
                            <button type="button" class="btn btn-primary"  ng-click="upload(myFile)">Up</button>
                        </div>
                    </div>

                    @*<div class="col-md-12" style="margin-bottom:20px">
                        <div class="form-group">
                            <p class="input-group">
                                <input type="text" disabled style="background:#ffffff" class="form-control" placeholder="Hình ảnh">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" ng-click=""><i class="glyphicon glyphicon-upload"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>*@
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="code" class="form-control" placeholder="Code" ng-model="hanghoa.Code">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Tên hàng hóa" ng-model="hanghoa.TenHanghoa">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Barcode" ng-model="hanghoa.Barcode">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control" ng-model="hanghoa.DonviId" ng-options="obj.DonviId as obj.TenDonvi for obj in donvis">
                                <option value="">--Đơn vị--</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" ng-model="hanghoa.NhomHanghoaId" ng-options="obj.NhomHanghoaId as obj.TenNhomHanghoa for obj in nhomhanghoas">
                                <option value="">--Nhóm hàng hóa--</option>
                            </select>
                        </div>
                        <div class="form-group" ng-class="{error: thongtinhanghoa.giagoc.$invalid}">
                            <input type="number" name="giagoc" class="form-control" placeholder="Giá gốc" ng-model="hanghoa.Giagoc" step="1000" min="0">
                            <span ng-show="thongtinhanghoa.giagoc.$error.number" class="help-inline">
                                Xin vui lòng nhập số
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <accordion>
                            <accordion-group is-open="status.open">
                                <accordion-heading>
                                    Thuộc tính hàng hóa <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                </accordion-heading>
                                <table style="width:100%" ng-show="thuoctinhhanghoas.length != 0">
                                    <tr>
                                        <th>STT</th>
                                        <th>Thuộc tính</th>
                                        <th></th>
                                    </tr>
                                    <tr ng-repeat="tt in thuoctinhhanghoas">
                                        <td>{{tt.STT}}</td>
                                        <td>{{tt.TenThuoctinh}}</td>
                                        <td><a ng-click="deleteThuoctinh(tt)">Xóa</a></td>
                                    </tr>
                                </table>
                                <a ng-click="YeucauThemThuoctinh()">Thêm thuộc tính</a>
                                <div ng-show="themtt" ng-class="{error: thongtinhanghoa.thuoctinh.$invalid}">
                                    <input type="text" name="thuoctinh" class="form-control" placeholder="Ví dụ 'Màu sắc: Đỏ'" ng-model="Thuoctinh.tenThuoctinh" required>
                                    <button class="btn btn-default btn-sm" style="margin-top:5px" ng-disabled="thongtinhanghoa.thuoctinh.$error.required" ng-click="addThuoctinh()">Đồng ý</button>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea class="form-control" style="resize:none" placeholder="Ghi chú" ng-model="hanghoa.Ghichu"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            Active&nbsp
                            <input type="checkbox" ng-checked="hanghoa.Active==true" ng-model="hanghoa.Active">
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <input type="button" ng-disabled="thongtinhanghoa.giagoc.$error.number" class="btn btn-primary" value="Thêm" ng-show="!isEdit" ng-click="InsertHanghoa()">
                        <input type="button" ng-disabled="thongtinhanghoa.giagoc.$error.number" ng-show="isEdit" class="btn btn-primary" value="Lưu thay đổi" ng-click="UpdateHanghoa()">
                        <input type="button" ng-disabled="" ng-show=" true" class="btn btn-primary" value="Hủy" ng-click="ResetValue()">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="item in items">
                        <a ng-click="selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                Selected: <b>{{ selected.item }}</b>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <button class="btn btn-default" ng-click="open()">Open me!</button>
        <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
        <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
        <div ng-show="selected">Selection from a modal: {{ selected }}</div>*@
</div>