.alerts {
    position: fixed;
    width: 300px;
    right: 30px;
    top: 30px;
    z-index: 10;
}

    .alerts > .alert-dismissable {
        position: relative;
        z-index: 11;
        min-width: 250px;
    }

.gridStyle {
    border: 1px solid rgb(212,212,212);
}

    .gridStyle .ui-grid-top-panel {
        position: relative;
        overflow: hidden;
        font-weight: bold;
        /*Nguyen Minh Tri - Background and color*/
        background-color: #337abb;
        color: #fff;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-topleft: 5px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        -moz-background-clip: padding-box;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        width: 98.88%;
        /*End*/
    }

.gridMuaHangStyle {
    height: 520px;
}

    .gridMuaHangStyle .ui-grid-pager-panel {
        color: #fff;
    }

    .gridMuaHangStyle .ui-grid-cell-contents {
        height: 22px;
    }

    .gridMuaHangStyle .ui-grid-header-cell {
        height: 5%;
    }

    .gridMuaHangStyle .ui-grid-cell-contents span {
        display: table;
        margin: 0 auto;
    }


.gridHangDachon {
}

    .gridHangDachon .ui-grid-pager-panel {
        color: #fff;
    }


    .gridHangDachon .ui-grid-cell-contents span {
        display: table;
        margin: 0 auto;
    }

    .gridHangDachon .ui-grid-cell-contents {
        height: 27px;
    }


    .gridHangDachon .ui-grid-cell .btn {
        margin: 5px auto;
        display: block;
    }

.gridNhomHanghoa {
    height: 670px;
}

    .gridNhomHanghoa .ui-grid-pager-panel {
        color: #fff;
    }


    .gridNhomHanghoa .ui-grid-cell-contents span {
        display: table;
        margin: 0 auto;
    }

    .gridNhomHanghoa .ui-grid-cell-contents {
        height: 27px;
    }

    .gridNhomHanghoa .ui-grid-cell .btn {
        margin: 5px auto;
        display: block;
    }

    .gridNhomHanghoa .ui-grid-top-panel {
        position: relative;
        overflow: hidden;
        font-weight: bold;
        /*Nguyen Minh Tri - Background and color*/
        background-color: #337abb;
        color: #fff;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-topleft: 5px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        -moz-background-clip: padding-box;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        width: auto;
        /*End*/
    }
