@{
    ViewBag.Title = "ChangePassword";
}
<script src="~/Scripts/Custom/ChangePasswordController.js"></script>

<div class="container" style="margin-top:40px">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Change password</strong>
                </div>
                <div class="panel-body" ng-controller="ChangePasswordController">
                    <div>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                    <div class="form-group">
                                        <input type="password" class="input-lg form-control" name="passwordold" id="passwordcurrent" placeholder="Current Password" ng-model="passold" required />
                                        <br />
                                        <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" ng-model="passnew" required>
                                        <br />
                                        <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" ng-model="passwordConfirm" required>
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-12" ng-show="passwordConfirm != passnew">
                                                <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords does not Match
                                            </div>
                                        </div>
                                        <input type="button" ng-disabled="passwordConfirm != passnew" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password" ng-click='CheckPass()'>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

